/* Font */

@font-face {
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    src: url(Proxima.woff) format('woff');
}

.hero_section {
    padding-top: 0px !important;
}

body {
    background-color: #1A1A1A;
}

.bg-dark {
    background-color: #1A1A1A !important;
}

a {
    color: #328fCB !important;
    font-weight: bold;
}

.border-warning {
    border: 2px solid #328fCB !important;
}

.border-warning-mob {
    border: 0px solid #328fCB !important;
}


/* Logo */

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.site_title img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Form Css */

.col-left form {
    padding-left: 10%;
    padding-right: 10%;
}

.col-left {
    padding: 0px !important;
    padding-top: 5% !important;
}

.signUp_form .pb-3 {
    padding-bottom: 34px !important;
}

.signUp_form .btn-warning {
    background:linear-gradient(90deg, #328fCB 19.28%, #328fcb78 93.75%) !important;
    border-radius: 0px !important;
    color: #fff;
    font-weight: bold;
    padding: 10px 30px 10px 30px !important;
    font-family: Proxima Nova;
    transition: 1s;
    border-color: #328fCB !important;
}

.signUp_form .btn-warning:hover {
    /* transition-timing-function: ease-in-out; */
    transition: 1s;
    padding: 10px 50px 10px 50px !important;
}

.signUp_form input {
    background-color: transparent;
    color: #fff;
    border: 2px solid #328fCB;
    border-radius: 6px !important;
    font-family: Proxima Nova;
}

.signUp_form ::placeholder {
    /*color: #8F8F8F;*/
    color:#fff;
    opacity: 0.5;
}

.signUp_form .form-control:focus {
    background-color: #1A1A1A;
    border-color: #328fCB;
    color: #fff;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 8%) inset, 0px 0px 8px rgb(224 183 71);
}

.signUp_form .form-check-input {
    border-radius: 0px !important;
}

.signUp_form .form-check-label {
    opacity: 0.8;
    font-size: 16px;
    line-height: 24px;
    font-family: Proxima Nova;
}

.signUp_form .form-check-input:checked {
    background-color: #328fCB;
    border-color: #328fCB;
}

.signUp_form .form-check-input {
    width: 1.4em !important;
    height: 1.4em !important;
}

.form-check-input:focus {
    border-color: #328fCB;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(200 168 91 / 13%);
}


/* //hide nasty ie clear thingie */

.input-group.with-icon>input::-ms-clear {
    display: none
}


/* //general placement stuffs */

.input-group.with-icon>i {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 88%;
    font-size: 25px;
    /* opacity: 1; */
    color: #3E3D3D;
}


/* //icon right (default) */

.input-group.with-icon>i,
.input-group.with-icon.icon-right>i {
    right: .7rem;
}

.input-group.with-icon>input,
.input-group.with-icon.icon-right>input {
    padding-right: 1.7rem;
}


/* //shy icon, hides on click of input box */

.input-group.with-icon.icon-shy>i {
    z-index: 1;
}


/* Carousel CSS */

.carousel-indicators [data-bs-target] {
    width: 15px !important;
    height: 15px !important;
    border: 2px solid #fff;
    border-radius: 100px;
    background-color: #fff0 !important;
    opacity: 1;
    margin-right: 50px;
}

.carousel-indicators .active {
    background-color: #fff !important;
}

.carousel-item img {
    width: 100% !important;
}

.carousel-caption h5 {
    font-family: Proxima Nova;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0em;
    text-align: center;
}

.carousel-caption p {
    font-family: Proxima Nova;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
}


/* Footer Css */

.footer {
    padding: 20px 0px 20px 0px;
    font-family: Proxima Nova;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff91;
}

.footer a {
    text-decoration-color: rgb(201 171 99 / 49%);
    color: #328fCB !important;
    font-weight: lighter;
}


/* BreakPoints/Media Queires */

@media (max-width: 786px) {
    .col-left {
        padding: 20px !important;
    }
    .col-right {
        padding: 20px !important;
    }
    .carousel-caption {
        bottom: 5rem !important;
    }
    .carousel-caption h5 {
        font-size: 18px;
        line-height: 36px;
    }
    .signUp_form .form-check-label {
        font-size: 12px;
        text-align: right;
    }
    .col-left form {
        padding-left: 5%;
        padding-right: 5%;
    }
    .signUp_form .btn-warning {
        font-size: 14px !important;
    }
    .site_title img {
        width: 80%;
    }
    .border-warning {
        border: 0px solid #328fCB !important;
    }
    .border-warning-mob {
        border: 2px solid #328fCB !important;
    }
}


/* intel input */

.iti {
    width: 100%;
}

.iti__country-list {
    position: absolute;
    color: #1A1A1A !important;
    z-index: 2;
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0 0 0 -1px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
    background-color: white;
    border: 1px solid #CCC;
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

#phone {
    padding-left: 50px !important;
}


/* Form validation errors lables */

.errors-message {
    /* color:rgb(201 171 99); */
    color: rgba(255, 0, 0, 0.733);
    font-size: 16px;
    float: left
}